@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Atma:wght@300;400;500;600;700&display=swap');

body {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: #aa7878;
    font-family: "Aclonica", sans-serif;
}

header {
    background-color: rgba(236, 229, 229, 0.4);
    height: 60px;

}

#home-icon {
    width: 35px;
    position: relative;
    left: -550px;
    cursor: pointer;
}

#weather-icon, #clock-icon, #link-icon {
    width: 50px;
    position: relative;
    top: 10%;
    cursor: pointer;
}

#weather-icon {
    width: 45px;
    left: 41%;
}

#clock-icon {
    width: 30px;
    top: -4px;
    left: 41.4%;
}

#link-icon {
    left: 41%;
}

#title-passwords {
    font-size: 1.8rem;
    position: absolute;
    top: 20%;
    left:32%;
    color: #333;
    background-color: rgba(236, 229, 229, 0.6);
    padding: 15px;
    border-radius: 20px;
}

#password-div {
    position: absolute;
    top: 37%;
    left: 37%;
    background-color: rgba(236, 229, 229, 0.6);
    width: 30%;
    height: 30%;
    border-radius: 30px;
    padding: 0 15px;
}

h3 {
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #636161;
}

input, button {
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: center;
}

input {
    background-color: #a2c9aa;
    border: 1px solid #60a36d;
    border-radius: 5px;
    padding: 5px;
}

button {
    background-color: #497a53;
    border: 1px solid #c475a9;
    border-radius: 5px;
    padding: 10px;
    color: white;
}

button:hover {
    background-color: #aa7878;
    cursor: pointer;
}

#result-div {
    color: #333;
    z-index: 5;
}